.container-chat {
  width: 300px;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  height: auto;
  width: 85vh;

  a {
    display: flex;
    width: 12%;
    border-radius: 6px;

    img {
      width: 100%;
      height: auto;
      border-radius: 3px;
      border: solid 2px black;
      box-shadow: rgba(0, 0, 0, 0.4) 0px -15px 10px 0px;
    }
  }

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .questions {
    height: 510px;
    overflow: scroll;
    padding: 0;
    width: 400px;
  }

  .questions::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .questions {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  #new_question {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}

.form-check {
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  width: 150px;
  float: left;
}

.bg-grey {
  background-color: #FFF;
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 20px;
  text-align: right;
  margin: 5px 0;
  padding: auto 5px;
  width: 80%;
  margin-left: 20%;
  opacity: 0.8;

}
.bg-cream {
  background-color: rgba($color: #F1F1F1, $alpha: 0.9);
  padding: 10px 20px;
  font-size: 12px;
  border-radius: 20px;
  text-align: left;
  margin: 10px 0;
  width: 80%;
  opacity: 0.9;
}
.charac-questions {
  background-color: rgba($color: #FFFFFF, $alpha: 0.5);
  border-radius: 20px;
  margin-top: 20px;
}
.width85 {
  width: 85%!important;
}
.height300 {
  height: 300px !important;
}

.ask {
  font-size: 18px;
  color: $red;
}

.type-attribute {
  font-size: 18px;
  color: black;
  margin-top: 5px;
}

.btn-yn {
  border-radius: 50%;
}
