.pending-modal {
  background: $gradient;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2% 4%;
  align-items: center;
}

.content {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.loading-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-pending h1 {
  color: $yellow;
}

.user-pending h2 {
  color: $yellow;
}

.loading-pending h3 {
  color: $yellow;
  font-weight: 400;
  line-height: 1.6 !important;
}

.vs {
  font-size: 200px;
  background: -webkit-linear-gradient(180deg, #F8C83C 0%, #D51E22 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
}

.fight-action {
  width: 500px;
  height: 150px;
  position: absolute;
  top: 40%;
}

.fight-image {
  background: url("fight-image.png");
  background-size: cover;
}

.user-pending {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .item-playeur {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .avatar {
      height: 75px;
      width: 75px;
      border-radius: 50%;
    }

    span {
      text-align: center;
    }
  }
}

.spinner-border {
  margin: 20px;
  color: $blue;
}

.active-modal {
  //background: url('BG/game_bg1.png') no-repeat center center;
  background-size: contain 100%;
  border-radius: 0px;
  margin: 0 auto;

  align-items: center;
// width: 94vw;
  height: 90vh;
// margin: 5vh 3vw;
}

.player-one-deck {
  display: flex;
}

.card-tray-wrapper {
  transform-style: preserve-3d;
  perspective: 2000px;
  transform:scale(0.8)
}


.card-tray {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  transform: rotateX(25deg) translate3d(0, 50px, 0);
  transform-style: preserve-3d;
  //background-position: center;
  //background-size: cover;
  background:$red;
  gap: 8px;
  border-radius:8px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 72px 48px;
  min-width: 950px;
  box-shadow: 0px 16px 0px -2px #942a38;

}
.card-tray-yellow {
  display:grid;
  grid-template-columns: repeat(8, 1fr);
  transform: rotateX(25deg) translate3d(0, 50px, 0);
  transform-style: preserve-3d;
  //background-image: url("plateau.png");
  //background-position: center;
  //background-size: cover;
  background:$yellow;
  gap: 8px;
  border-radius:8px;
  border: 1px solid rgba(255,255,255,0.2);
  padding: 72px 48px;
  min-width: 950px;
  box-shadow: 0px 16px 0px -2px #FAD03D;

}

.card {
  display: flex;
  width: 100%;
  height: 165px;
  align-content: end;
  border-radius: 3px;
  transform: rotateX(-30deg) translate3d(0, -70px, 0);
  transition: .3s;
  transform-style: preserve-3d;
  backface-visibility: visible;
  background: none;
  border: none;
  transform-origin: bottom center;
  perspective: 1000px;
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  .card-front {
    border-radius:8px 8px 0 0;
    padding:4px;
    transform: rotateX(0deg) translate3d(0, -58%, 0);
    transition:.3s;
    width: 100%;
    min-width: 100px;
    height: 100%;
    background: linear-gradient(white, white 3%, #a5a39c 3%, #d3d2cd 5%, white 90%, #cdcac0 90%, #f0efe5 97%, white 98%);
  }
  .card-back {
    background:none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    transform: rotateY(180deg);
  }
  .card-shadow {
    position: absolute;
    width: 100%;
    transform: rotateX(-152deg) translate3d(0, -40px, 0);
    height: 100%;
    background-color: $red;
    border-radius: 8px;
    box-shadow: inset 0px 0.8vmin 0.8vmin rgba(77, 18, 18, 0.3), inset 0px -2px 5px rgba(148, 5, 5, 0.15), 0px 2px 2px rgba(255, 212, 170, 0.15);
  }
  .card-shadow-yellow {
    position: absolute;
    width: 100%;
    transform: rotateX(-152deg) translate3d(0, -40px, 0);
    height: 100%;
    background-color: $yellow;
    border-radius: 8px;
    box-shadow: inset 0px 0.8vmin 0.8vmin rgba(77, 18, 18, 0.3), inset 0px -2px 5px rgba(148, 5, 5, 0.15), 0px 2px 2px rgba(255, 212, 170, 0.15);
  }

}

.card:hover .card-front {
  transform: rotateX(-10deg) translate3d(0, -58%, 0);
  transition:.3s;
}

.card-tray-wrapper-disactive {
  .card-front {
    transform: scaleY(0.90) scaleX(0.95) rotateX(-148deg) translate3d(0, -57px, 0vmin) !important;
    // Remplacer par une image
    background: url("back_card.png");
    background-size: cover;
    box-shadow: inset 0px 0.8vmin 0.8vmin rgba(77, 18, 18, 0.3), inset 0px -2px 5px rgba(148, 5, 5, 0.15), 0px 2px 2px rgba(255, 212, 170, 0.15);
    background-position: center;
  }
  img {
    display:none;
  }
  .card-shadow {
    display:none;
  }
  .card-back {
    display: none;
  }
}

.disactive-card {
  opacity: 0.3;
  display: flex;
  width: 110px;
  height: 166px;
  margin: 2px;
  padding: 3px;
  align-items: center;
  align-content: end;
  border-radius: 5px;
  background-color: red;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mini-card {
  width: 10px;
  height: 15px;
  background: url("mini_back_card.png");
  background-size: cover;
  margin: 5px 2px;
}

.mini-card-false {
  width: 10px;
  height: 15px;
  background-color:#FFF;
  margin: 5px 2px;
}

.red {
  opacity: 0.2;
}


.test {
  background-color: rebeccapurple;


}

.active-view h1 {
  color: $yellow;
}

.active-view h2 {
  color: $yellow;
}

.active-view h3 {
  color: $yellow;
  padding-bottom: 40px;

}

.confetis {
  display: flex;
  position: absolute;
}

.buzzer-button {
  background: none;
  border: none;
}
