.pending-modal {
  background: $gradient;
  border-radius: 10px;
  margin: 0 auto;
  padding: 2% 4%;
  align-items: center;
}

.content {
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.loading-pending {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading-pending h3 {
  color: black;
}

.vs {
  font-size: 200px;
  background: -webkit-linear-gradient(180deg, #F8C83C 0%, #D51E22 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 3px black;
}

.user-pending {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  .item-playeur {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .avatar {
      height: 75px;
      width: 75px;
      border-radius: 50%;
    }

    span {
      text-align: center;
    }
  }
}

.spinner-border {
  margin: 20px;
  color: $blue;
}

.active-modal {
  //background: url('BG/game_bg1.png') no-repeat center center;
  background-size: contain 100%;
  border-radius: 0px;
  margin: 0 auto;

  align-items: center;
// width: 94vw;
  height: 90vh;
// margin: 5vh 3vw;
}

.player-one-deck {
  display: flex;
}

.card-tray {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  align-content: end;
}

.card {
  display: flex;
  width: 80px;
  height: auto;
  margin: 2px;
  padding: 3px;
  align-items: center;
  align-content: end;
  border-radius: 5px;

}
.disactive-card {
  opacity: 0.3;
  display: flex;
  width: 80px;
  height: auto;
  margin: 2px;
  padding: 3px;
  align-items: center;
  align-content: end;
  border-radius: 5px;
  background-color: red;
}

.card img {
  width: 100%;
  height: auto;
}

.mini-card {
  width: 10px;
  height: 15px;
  background-color: blue;
  margin: 5px 2px;
}

.mini-card-false {
  width: 10px;
  height: 15px;
  background-color:#FFF;
  margin: 5px 2px;
}

.red {
  background-color:red
}


.test {
  background-color: rebeccapurple;


}
