.home-logo{
  position: absolute;
  height: auto;
  padding: 10px 20px;
  top:0;
}

.rules {
  width: 500px;
  height: 250px;

}
.block-jaune {
  background-color: $yellow;
  border-radius: 10px;
  margin: 20px auto;
  padding: 24px !important;
  height: 350px;
}

.margin-head {
  margin-top: 60px;
  margin-bottom: 40px;
}

.h3rules{
  font-size: 22px !important;
  color: #333 !important;
  font-weight: 600 !important;
  text-decoration: none;


}
.text-degrade {
  background: -webkit-linear-gradient($yellow, $red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.prules {
  font-size: 14px !important;
  color: #333 !important;
  font-weight: 400 !important;
  line-height: 24px;
}

.block-identification {
  width:500px;

  .avatar-bordered {
    border: 3px solid white;
  }
}

.block-user {
  background:$yellow;
}
