<div class="container d-flex flex-column justify-content-center align-items-center height100vh">

  <div class="d-flex flex-column mb-3 active-modal active-view">
    <% if @current_user.id == @player_one.user_id %>
      <h2>Le joueur 2 a rejoint la partie !</h2>
    <% else %>
      <h2 >Bienvenue joueur 2 !</h2>
    <% end %>

    <h3>Merci de choisier la carte a faire deviner</h3>
      <div class="container game">
        <% current_user.active_player(@game).cards.each do |card| %>
          <%= link_to select_character_game_path(game: @game, id: card.id), data: {turbo_method: :patch} do %>
            <% if card.guess == true %>
                <%= cl_image_tag card.character.photo.key, width: 100, height: 190, crop: :fill, class:"card-selected"  %>
            <% else %>
                <%= cl_image_tag card.character.photo.key, width: 100, height: 190, crop: :fill  %>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
</div>
