<div class="d-flex flex-column mb-3 pending-modal w-50 ">
  <div class="p-2">
    <h1>Partie terminée</h1>
    <% if @player_one.winner %>
      <% if @current_player == @player_one %>
        <h3>Bravo <%= @player_one.user.nickname %> tu as gagné !</h3>
      <% else %>
        <h3>Désolé <%= @player_two.user.nickname %> tu as perdu !</h3>
      <% end %>
    <% else %>
      <% if @current_player == @player_two %>
        <h3>Bravo <%= @player_two.user.nickname %> tu as gagné !</h3>
      <% else %>
        <h3>Désolé <%= @player_one.user.nickname %> tu as perdu !</h3>
      <% end %>
    <% end %>
  </div>
</div>
