.avatar {
  width: 40px;
  border-radius: 50%;
}
.loading-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.current-avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.current-avatar img {
  height: 100%;
  width: 100%;
}

.avatar-large {
  width: 56px;
  border-radius: 50%;
}
.avatar-bordered {
  width: 40px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  
}
.avatar-square {
  width: 40px;
  border-radius: 0px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}
.imgbig {
  width: 100px !important;
  height:100px;
}
