.round-time-bar {
  //margin: 1rem;
  width:100%;
  overflow: hidden;

}
.round-time-bar div {
  height: 25px;
  border-radius:10px;
  background: linear-gradient(to left, #F8C83C, #D51E22);

}

.animate-timer {
  animation: roundtime 30s linear;
  transform-origin: left center;
  border-radius:10px;
}
.animate-timer-player2 {
  animation: roundtime 30s linear;
  transform-origin: right center;
  border-radius:10px;
}

@keyframes roundtime {
  from {
    transform: scaleX(1);
  }
  to {
    /* More performant than `width` */
    transform: scaleX(0);
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

.rubik-loader {
  width: 64px;
  height: 64px;
  position: relative;

  //margin-top: 100px;
  transform: translate(-50%, -50%);
  background-image: url(http://i.giphy.com/3og0ISeflb7vrNzy2A.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.height100vh { height: 100vh;}


// Loader 3 points

.lds-ellipsis {
  display: inline-block;
  position: relative;
  align-items: center;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: $yellow;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
